.appLayout {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #1e203e;
  height: 100%;
  width: 100%;
}

.mainCard {
  justify-self: center;
  margin: auto;
}

.cardDisplayScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.mainCardContainer {
  border-radius: 4%;
  padding: 10px;
  align-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 400px;
  height: 250px;
  background-color: white;
}

.sText {
  font-size: 26px;
  font-family: 'Abel', 'Courier New', Courier, monospace;
}

.footerEditAnchor {
  padding: 5px;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: aliceblue;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 2em;
  margin-top: 2em;
  height: 100px;
}
