.appLayout {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #1e203e;
  height: 100%;
  width: 100%;
}

.mainCard {
  justify-self: center;
  margin: auto;
}

.cardDisplayScreen {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.mainCardContainer {
  border-radius: 4%;
  padding: 10px;
  align-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 300px;
  height: 200px;
  background-color: white;
}

.sText {
  font-size: 24px;
  font-family: 'Abel', 'Courier New', Courier, monospace;
}
